<h1><code>[cdkDrag]</code> ディレクティブの動的な付けはずしのテスト</h1>

<h2>現在、ドラッグ {{grabbable ? '可能' : '不可能'}} です</h2>

<!-- 切り替えボタン -->
<div>
  <button [disabled]="grabbable"  (click)="setGrabbable(true)">ドラッグ可能</button>
  <button [disabled]="!grabbable" (click)="setGrabbable(false)">ドラッグ不可能</button>
</div>


<!-- コンポーネント全体を包むうわもの -->
<div style="width: 400px;" [class]="id">
  <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
</div>

<!-- ドラッグ可能な状態のコンポーネント -->
<ng-template #grabbableContent>
  <div class="container" cdkDrag [cdkDragRootElement]="'.' + id">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-template>

<!-- ドラッグ不可能な状態のコンポーネント -->
<ng-template #notGrabbableContent>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</ng-template>

<!-- コンポーネント本体 -->
<ng-template #content>
  <div class="content" 
       [class.grabbable-content]="grabbable"
       [class.not-grabbable-content]="!grabbable">
    <h3>ドラッグ用コンポーネント</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</ng-template>